<div class="container">
    <form
        #register="ngForm"
        class="form-group"
        (ngSubmit)="onRegister(register.value)"
    >
        <div>
            <label for="" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" ngModel>
        </div>
        <div>
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Đăng ký</button>
    </form>
</div>
